
run = "mvn -s src/main/resources/settings.xml spring-boot:run"
hidden = ["**/*.class"]
modules = ["java-graalvm22.3", "nix"]

[packager]
language = "java"

[languages]

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "mvn -s src/main/resources/settings.xml spring-boot:run"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "mvn clean install"]

[[ports]]
localPort = 8080
externalPort = 80
